body{

  margin: 100px;
  background-color: #f0f4f6;
}

h1{
  text-align: center;
}

/*This is the same for every tooth*/

.tooth{
  position: relative;
  /* now you can move the teeth individually */
  height: 120px;
  width: 100px;
  display: inline-block;
}

.phrase{
  position: relative;
  display: inline-block;
  width: 85px;
  margin-left: 15px;
  margin-top: 25px;

}




.Red {
  position:absolute;
  left: 10px;
}

.Blue {
  position:absolute;
  top: 5px;
}

.Red div{
  position:absolute;
  background: #D22020;
}

.Redborder{
  position:absolute;
  left: 10px;
}

.Redborder div{
  position:absolute;
  border-color: #D22020;

}

.Redborder .background{
background: #D22020;

}

.Blue div{
  position:absolute;
  background: #07ECCD;
}

.Blueborder{
  position:absolute;
  top: 5px;
}

.Blueborder div{
  position:absolute;
  border-color: #07ECCD;

}

.Blueborder .background{
  background: #07ECCD;

}

/*this is where you make the parts of each letter*/

.A .left {
  height: 100px;
  width: 5px;
  transform: rotate(15deg);
  left: 10px;
}

.A .right {
  height: 100px;
  width: 5px;
  transform: rotate(-15deg);
  left: 35px;
}

.A .bar {
  width: 30px;
  height: 5px;
  top: 50px;
  left: 10px;
}


.Bee{
  position: relative;
  left: 100px;
  right: 100px;
}

.curve {
  width: 52px;
  height: 40px;
  border: 5px solid;
  border-color: rgba(190,30,45, 1);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  position: absolute;
}

.curve2 {
  width: 55px;
  height: 40px;
  border: 5px solid;
  border-color: rgba(190,30,45, 1);
  border-top-right-radius: 27px;
  border-bottom-right-radius: 27px; 
  position: absolute;
  top: 45px;
}

.ccurve{
  width: 80px;
  height: 90px;
  border: 5px solid black;
  border-top-right-radius: 27px;
  border-bottom-right-radius: 27px;
  border-radius: 200px;
  border-right-color: transparent !important;
  position: absolute;
  left: -14px;
}

.dcurve{
  width: 60px;
  height: 89px;
  border: 5px solid black;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  position: absolute;
  left: -6px;


}


.Emiddle{
  width: 60px;
  height: 5px;
  top: 45px;
  left: -2px;
  background-color: #BE1E2D;
  position: absolute;
}

.ebase{
  width: 5px;
  height: 93px;
  top: 1px;
  left: -2px;
  background-color: #BE1E2D;
  position: absolute;
}

.Ebottom{
  width: 65px;
  height: 5px;
  top: 93px;
  left: -2px;
  background-color: #BE1E2D;
  position: absolute;
}

.Etop{
  width: 60px;
  height: 5px;
  top: 1px;
  left: -2px;
  background-color: #BE1E2D;
  position: absolute;
}


.Efbase{
  width: 5px;
  height: 97px;
  top: 1px;
  left: -3px;
  background-color: #BE1E2D;
  position: absolute;
}


.Eftop{
  width: 60px;
  height: 5px;
  top: 1px;
  left: -3px;
  background-color: #BE1E2D;
  position: absolute;
}

.Efbottom{
  width: 50px;
  height: 5px;
  top: 45px;
  left: -3px;
  background-color: #BE1E2D;
  position: absolute;
}

.Gcurve{
  width: 80px;
  height: 90px;
  border: 5px solid;
  border-color: rgba(190,30,45, 1);
  border-top-right-radius: 27px;
  border-bottom-right-radius: 27px;
  border-radius: 200px;
  border-right-color: transparent;
  border-right-color: transparent !important;
  position: absolute;
  left: -15px;
}

.Gline1{
  width: 5px;
  height: 42px;
  top: 45px;
  left: 58px;
  background-color: #BE1E2D;
  position: absolute;
}

.Gline2{
  width: 30px;
  height: 5px;
  top:45px;
  left:28px;
  background-color: #BE1E2D;
  position: absolute;
}

.Hleft{
  width: 5px;
  height: 97px;
  top:2px;
  left:-3px;
  background-color: #BE1E2D;
  position: absolute;
}

.Hright{
  width: 5px;
  height: 97px;
  top:2px;
  left:57px;
  background-color: #BE1E2D;
  position: absolute;
}

.Hline{
  width: 60px;
  height: 5px;
  top:45px;
  left:-1px;
  background-color: #BE1E2D;
  position: absolute;
}

.Iline{
  width: 5px;
  height: 97px;
  top:2px;
  left: 25px;
  background-color: #BE1E2D;
  position: absolute;
}

.Jline{
  width: 5px;
  height: 70px;
  top:2px;
  left:45px;
  background-color: #BE1E2D;
  position: absolute;
}

.Jcurve{
  width: 40px;
  height: 33px;
  top: 65px;
  left: 0px;
  border: 5px solid;
  border-color: rgba(190,30,45, 1);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top:none;
  position: absolute;
}


.Kline{
  width: 5px;
  height: 97px;
  left:3px;
  background-color: #BE1E2D;
  position: absolute;
}


.Kline2{
  width: 5px;
  height: 72px;
  left:23px;
  background-color: #BE1E2D;
  position: absolute;
  transform: rotate(35deg);
}

.Kline3{
  width: 5px;
  height: 68px;
  top:34px;
  left:40px;
  background-color: #BE1E2D;
  position: absolute;
  transform: rotate(145deg);
}

.Lline{
  width: 5px;
  height: 97px;
  left:3px;
  background-color: #BE1E2D;
  position: absolute;
}

.Lbottom{
  width: 60px;
  height: 5px;
  top:92px;
  left:4px;
  background-color: #BE1E2D;
  position: absolute;
}

.Mleft{  
  width: 5px;
  height: 97px;
  left:-15px;
  background-color: #BE1E2D;
  position: absolute;
}

.Mslant1{  
  width: 5px;
  height: 87px;
  top: -3px;
  left: 4px;
  background-color: #BE1E2D;
  position: absolute;
  transform: rotate(155deg);
}

.Mslant2{  
  width: 5px;
  height: 87px;
  top: -3px;
  left: 40px;
  background-color: #BE1E2D;
  position: absolute;
  transform: rotate(25deg);
}

.Mright{  
  width: 5px;
  height: 97px;
  left: 59px;
  background-color: #BE1E2D;
  position: absolute;
}

.Nleft{  
  width: 5px;
  height: 97px;
  left:0px;
  background-color: #BE1E2D;
  position: absolute;
}

.Nslant{  
  width: 5px;
  height: 108px;
  top: -6px;
  left: 27px;
  background-color: #BE1E2D;
  position: absolute;
  transform: rotate(151deg);
}

.Nright{  
  width: 5px;
  height: 97px;
  left:54px;
  background-color: #BE1E2D;
  position: absolute;
}

.Ocurve{
  width: 80px;
  height: 90px;
  border: 5px solid;
  border-color: rgba(190,30,45, 1);
  border-top-right-radius: 27px;
  border-bottom-right-radius: 27px;
  border-radius: 200px;
  position: absolute;
  left: -19px;
}

.stroke{
  width: 5px;
  height: 37px;
  top:80px;
  left:53px;
  background-color: #BE1E2D;
  position: absolute;
  transform: rotate(105deg);
}

.Pbase{
  width: 5px;
  height: 97px;
  top:2px;
  left:-5px;
  background-color: #BE1E2D;
  position: absolute;
}

.Pcurve{
  width: 60px;
  height: 42px;
  border: 5px solid;
  border-color: rgba(190,30,45, 1);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  left:-5px;
  position: absolute;
}

.Rbase{
  width: 5px;
  height: 97px;
  top:2px;
  left:-12px;
  background-color: #BE1E2D;
  position: absolute;
}

.Rcurve{
  width: 60px;
  height: 42px;
  border: 5px solid;
  border-color: rgba(190,30,45, 1);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  left:-12px;
  position: absolute;
}

.Rstroke{
  width: 5px;
  height: 62px;
  top:42px;
  left:45px;
  background-color: #BE1E2D;
  position: absolute;
  transform: rotate(140deg);
}


.top {
  left: -4px;
  border: 5px solid red;
  width: 40px;
  height: 40px;
  border-radius:30px;
  border-right-color:transparent !important;
  transform: rotate(45deg);
}
.Sbottom {
  top: 45px;
  left: -7px;
  border: 5px solid red;
  width: 45px;
  height: 45px;
  border-radius:40px;
  border-left-color:transparent !important;
  transform:rotate(45deg);
}

.Ttop{
  width: 80px;
  height: 5px;
  top:1px;
  left:-15px;
  background-color: #BE1E2D;
  position: absolute;
}

.Tbase{
  width: 5px;
  height: 97px;
  top:2px;
  left:23px;
  background-color: #BE1E2D;
  position: absolute;
}


.Ucurve{
  width: 60px;
  height: 95px;
  top: 0px;
  left: -7px;
  border: 5px solid;
  border-color: rgba(190,30,45, 1);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top:none;
  position: absolute;
}

.Vslant1{
  width: 5px;
  height: 100px;
  top:-3px;
  left:5px;
  background-color: #BE1E2D;
  position: absolute;
  transform: rotate(159deg);
}

.Vslant2{
  width: 5px;
  height: 100px;
  top:-3px;
  left:42px;
  background-color: #BE1E2D;
  position: absolute;
  transform: rotate(21deg);
}


.Wslant1{
  width: 5px;
  height: 100px;
  top:0px;
  left:3px;
  background-color: #BE1E2D;
  position: absolute;
  transform: rotate(165deg);
}

.Wslant2{
  width: 5px;
  height: 100px;
  top:0px;
  left:31px;
  background-color: #BE1E2D;
  position: absolute;
  transform: rotate(15deg);
}

.Wslant3{
  width: 5px;
  height: 100px;
  top:0px;
  left:59px;
  background-color: #BE1E2D;
  position: absolute;
  transform: rotate(165deg);
}

.Wslant4{
  width: 5px;
  height: 100px;
  top:0px;
  left:87px;
  background-color: #BE1E2D;
  position: absolute;
  transform: rotate(15deg);
}

.xslant1{
  width: 5px;
  height: 110px;
  top:-5px;
  left:25px;
  background-color: #BE1E2D;
  position: absolute;
  transform: rotate(152deg);
}

.xslant2{
  width: 5px;
  height: 110px;
  top:-5px;
  left:25px;
  background-color: #BE1E2D;
  position: absolute;
  transform: rotate(30deg);
}

.Yleft{  
  width: 5px;
  height: 57px;
  top:-6px;
  left:5px;
  background-color: #BE1E2D;
  position: absolute;
  transform: rotate(155deg);
}

.Yright{  
  width: 5px;
  height: 57px;
  top:-6px;
  left:33px;
  background-color: #BE1E2D;
  position: absolute;
  transform: rotate(25deg);
}

.Ybase{
  width: 5px;
  height: 55px;
  top:46px;
  left:19px;
  background-color: #BE1E2D;
  position: absolute;
}


.Ztop{
  width: 69px;
  height: 5px;
  top:8px;
  left:-1px;
  background-color: #BE1E2D;
  position: absolute;
}

.Zslant{
  width: 5px;
  height: 109px;
  top:-2px;
  left:28px;
  background-color: #BE1E2D;
  position: absolute;
  transform: rotate(41deg);
}

.Zbottom{
  width: 73px;
  height: 5px;
  top: 90px;
  left: -5px;
  background-color: #BE1E2D;
  position: absolute;
}

/*NUMBASSSS*/

.onebase{
  width: 5px;
  height: 100px;
  top: 0px;
  left: 29px;
  background-color: #BE1E2D;
  position: absolute;
}

.onestroke{
  width: 5px;
  height: 25px;
  top: 0px;
  left: 23px;
  background-color: #BE1E2D;
  position: absolute;
  transform: rotate(205deg);
}


.curve22{
  width: 51px;
  height: 55px;
  border: 5px solid;
  border-color: rgba(190,30,45, 1);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-radius: 200px;
  position: absolute;
  border-left-color: transparent !important;
  border-bottom-color: transparent !important;
  top: 0px;
  left: 5px;
  transform: rotate(-5deg);
}

.Redborder .curve22{
  left: 11px;
}

.bottom2{
  width: 5px;
  height: 63px;
  left: 35px;
  top: 41px;
  background-color: #BE1E2D;
  position: absolute;
  transform: rotate(39deg);

}

.boddom{
  width: 58px;
  height: 5px;
  top: 96px;
  left: 15px;
  background-color: #BE1E2D;
  position: absolute;
}


.curve3 {
  width: 52px;
  height: 40px;
  border: 5px solid;
  border-color: rgba(190,30,45, 1);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  position: absolute;
  border-left: none;
}

.curve33 {
  width: 55px;
  height: 40px;
  border: 5px solid;
  border-color: rgba(190,30,45, 1);
  border-top-right-radius: 27px;
  border-bottom-right-radius: 27px; 
  position: absolute;
  top: 45px;
  border-left: none;
}

.B4{
  width: 5px;
  height: 109px;
  top: -6px;
  left: 35px;
  background-color: #BE1E2D;
  position: absolute;
}

.M4{
  width: 64px;
  height: 5px;
  top: 56px;
  left: -13px;
  background-color: #BE1E2D;
  position: absolute;
}

.T4{
  width: 5px;
  height: 81px;
  left: 10px;
  top: -13px;
  background-color: #BE1E2D;
  position: absolute;
  transform: rotate(37deg);
}


.T5{
  width: 52px;
  height: 5px;
  background-color: #BE1E2D;
  position: absolute;
}

.M5{
  width: 5px;
  height: 45px;
  background-color: #BE1E2D;
  position: absolute;
}

.B5{
  width: 50px;
  height: 45px;
  top: 45px;
  border: 5px solid;
  border-color: rgba(190,30,45, 1);
  border-top-right-radius: 55px;
  border-bottom-right-radius: 55px;
  position: relative;
  border-left: none;
}

.T6{
  width: 60px;
  height: 60px;
  top: 35px;
  left: -7px;
  border: 5px solid;
  border-color: rgba(190,30,45, 1);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-radius: 200px;
  position: absolute;
}

.B6{
  width: 5px;
  height: 77px;
  left: 10px;
  top: -17px;
  background-color: #BE1E2D;
  position: absolute;
  transform: rotate(23deg);
}


.T7{
  width: 60px;
  height: 5px;
  background-color: #BE1E2D;
  position: absolute;
  top: -5px;

}

.S7{
  width: 5px;
  height: 117px;
  left: 36px;
  top: -5px;
  background-color: #BE1E2D;
  position: absolute;
  transform: rotate(19deg);
}


.T8{
  width: 50px;
  height: 50px;
  border: 5px solid;
  border-color: rgba(190,30,45, 1);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-radius: 200px;
  position: absolute;
}


.B8{
  width: 60px;
  height: 60px;
  border: 5px solid;
  top: 55px;
  left: -5px;
  border-color: rgba(190,30,45, 1);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-radius: 200px;
  position: absolute;
}

.T9{
  width: 60px;
  height: 60px;
  border: 5px solid;
  border-color: rgba(190,30,45, 1);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-radius: 200px;
  position: absolute;
}

.B9{
  width: 5px;
  height: 77px;
  left: 48px;
  top: 40px;
  background-color: #BE1E2D;
  position: absolute;
  transform: rotate(25deg);
}

.zero{
    width: 55px;
    height: 93px;
    border: 5px solid;
    border-color: rgba(190,30,45, 1);
    border-top-right-radius: 27px;
    border-bottom-right-radius: 27px;
    border-radius: 350px;
    position: absolute;
    left: -5px;
}







.EP{
  width: 5px;
  height: 90px;
  top: -5px;
  background-color: #BE1E2D;
  position: absolute;
  left: 20px;
}


.ED{
  width: 5px;
  height: 7px;
  top: 95px;
  left: 20px;
  background-color: #BE1E2D;
  position: absolute;
}

.QC{
  width: 50px;
  height: 50px;
  border: 5px solid;
  border-color: rgba(190,30,45, 1);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  position: relative;
  border-left: none;
  top: -5px;
}

.QB{
  width: 5px;
  height: 7px;
  top: 95px;
  background-color: #BE1E2D;
  position: absolute;
}

.QD{
  width: 5px;
  height: 30px;
  top: 55px;
  background-color: #BE1E2D;
  position: absolute;
}

/*puncs*/

.period{
  width: 5px;
  height: 7px;
  top: 95px;
  left: 20px;
  background-color: #BE1E2D;
  position: absolute;
}

.comma{
  width: 5px;
  height: 10px;
  left: 23px;
  top: 95px;
  background-color: #BE1E2D;
  position: absolute;
  transform: rotate(145deg);
}







