body {
    background-color:  #d9b3ff;
    font-family: arial;
    font-size: 20px;
}



h1{ 
	color: #F7EEFF;
	text-align: center;
	font-family: helvetica;
	text-shadow: 5px 5px 2px rgba(0,0,0,0.2);
}


p {
    font-family: helvetica;
    font-size: 20px;
    text-align: center;

}

.text{ 

	font-family: helvetica;
    font-size: 20px;
    text-align: center;

}













