.cavas{
	width: 100%;
	min-width: 2020px;
	height: 100px;
}

.ball1 {
	margin-left: 135px;
	position: absolute;
	margin-top: 30px;
	z-index: 2;
}

.ball1:hover ~ .statues .pic1 {
visibility: visible
}

.ball2 {
	margin-left: 358px;
	position: absolute;
	margin-top: 35px;
	z-index: 2;
}

.ball2:hover ~ .statues .pic2 {
visibility: visible }

.ball3 {
	margin-left: 936px;
	position: absolute;
	margin-top: 350px;
	z-index: 2;
	display: inline-block;

}

.ball3:hover ~ .statues .pic3 {
visibility: visible }

.ball4 {
	margin-left: 174px;
	position: absolute;
	margin-top: 711px;
	z-index: 2;
	display: inline-block;

}

.ball4:hover ~ .statues .pic4 {
visibility: visible }

.ball5 {
	margin-left: 513px;
	position: absolute;
	margin-top: 968px;
	z-index: 2;
}

.ball5:hover ~ .statues .pic5 {
visibility: visible }

.ball6 {
	margin-left: 771px;
	position: absolute;
	margin-top: 709px;
	z-index: 2;
}

.ball6:hover ~ .statues .pic6 {
visibility: visible 
}


.statues{
	position: absolute;

}

.pic1{
	margin-top: 15px;
	margin-left: 5px;
	display: inline-block;
	padding: 5px;
	padding-top: 5px;
	padding-right: 5px;
	visibility: hidden;
}

.pic2{
	margin-top: 15px;
	margin-left: 5px;
	display: inline-block;
	padding: 5px;
	padding-top: 5px;
	padding-right: 5px;
	visibility: hidden;
}

.pic3{
	margin-top: 15px;
	margin-left: 5px;
	display: inline-block;
	padding: 5px;
	padding-top: 5px;
	padding-right: 5px;
	visibility: hidden;

}

.pic4{
	margin-top: 15px;
	margin-left: 5px;
	display: inline-block;
	padding: 5px;
	padding-top: 5px;
	padding-right: 5px;
	visibility: hidden;
}

.pic5{
	margin-top: 15px;
	margin-left: 5px;
	display: inline-block;
	padding: 5px;
	padding-top: 5px;
	padding-right: 5px;
	visibility: hidden;
}

.pic6{
	margin-top: 55px;
	margin-left: 55px;
	display: inline-block;
	padding: 5px;
	padding-top: 5px;
	padding-right: 5px;
	visibility: hidden;
}


.ball7 {
	margin-left: 935px;
	position: absolute;
	margin-top: 30px;
	z-index: 2;
}

.ball7:hover ~ .statues .imgDes {
visibility: visible
}

.imgDes{
	font-family: sans-serif;
	visibility: hidden;
	position: absolute;
	margin-left: 207px;
	position: absolute;
	margin-top: -1152px;
	font-size: 130px;
	color: #160B85;
}

.ball8 {
	margin-left: 435px;
	position: absolute;
	margin-top: 520px;
	z-index: 2;
}


/*
.circle {
	width: 80px;
	height: 80px;
	background: background: #000a7a; /* Old browsers */ /*
	background: -moz-linear-gradient(top, #000a7a 0%, #007bff 50%, #0010c1 100%); 
	background: -webkit-linear-gradient(top, #000a7a 0%,#007bff 50%,#0010c1 100%); 
	background: linear-gradient(to bottom, #000a7a 0%,#007bff 50%,#0010c1 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000a7a', endColorstr='#0010c1',GradientType=0 );
	copy;
	-moz-border-radius: 46px;
	-webkit-border-radius: 27px;
	border-radius: 38px;
	margin-left: 144px;
	position: absolute;
	margin-top: 28px;
	z-index: 2;
}

.circle:hover ~ .statues .pic1 {
visibility: visible }


.circle2 {
	width: 80px;
	height: 80px;
	background: #2B33D0;
	-moz-border-radius: 46px;
	-webkit-border-radius: 27px;
	border-radius: 38px;
	margin-left: 738px;
	position: absolute;
	margin-top: 80px;
	z-index: 2;
}

.circle2:hover ~ .statues .pic2 {
visibility: visible }

.circle3 {
	width: 80px;
	height: 80px;
	background: #2B33D0;
	-moz-border-radius: 46px;
	-webkit-border-radius: 27px;
	border-radius: 38px;
	margin-left: 445px;
	position: absolute;
	margin-top: 940px;
	z-index: 2;
}

.circle3:hover ~ .statues .pic3 {
visibility: visible }

.circle4 {
	width: 80px;
	height: 80px;
	background: #2B33D0;
	-moz-border-radius: 46px;
	-webkit-border-radius: 27px;
	border-radius: 38px;
	margin-left: 795px;
	position: absolute;
	margin-top: 1420px;
	z-index: 2;
}

.circle4:hover ~ .statues .pic4 {
visibility: visible }

*/